$ice-blue: #f9fdff;
$ice-blue-two: $ice-blue;
$ice-blue-three: #f8faff;
$white: #ffffff;
$white-two: #f7f7f7;
$white-three: #e5e5e5;
$white-four: #ececec;
$steel: #73839a;
$carnation: #fe7997;
$sky-blue: #68a5ff;
$sky-blue-two: $sky-blue;
$sky-blue-three: #56bfff;
$bluey-grey: #8798b4;
$light-teal: #97dee5;
$soft-pink: #faa5ae;
$soft-pink-two: $soft-pink;
$dark-grey-blue: #2f4a6e;
$slate: #4f5e71;
$metallic-blue: #4f6b8f;
$pale-grey: #f1f2f4;
$greyish: #a8a8a8;
$electric-blue: #0059ff;

$primary: $sky-blue;